#search-text{
    width: 100%;
    box-sizing : border-box;
}

.s-result{
    background-color: #FFF;
}

#top-container{
    margin: 10px;
    border: 2px solid #AAA;
    border-radius: 4px;
    padding: 10px;
    background-color: #fcfcfc;
}

.u-cardview{
    margin-bottom: 10px;
    grid-template-columns: repeat(auto-fill, 15em);
}

@media only screen and (max-width: 650px) {
    #top-container{
        margin: 0px;
        border: none;
        border-radius: 4px;
        padding: 4px;
        background-color: #fcfcfc;
    }
    .u-cardview{
        margin-bottom: 10px;
        grid-template-columns: repeat(auto-fill, 13em);
    }
}
body{
    margin: 0;
    padding: 0;
}

.loc{
	color : #555;
	margin-left: 5px;
	font-size : 0.6em;
}
/*
#search-results ul{
    display: block;
    margin :5px;
    padding: 0;
    column-width: 28em;
    column-gap: 0;
}
#search-results li{
    display: block;
    list-style: none;
    font-size: 1.1em;
    font-family: sans-serif;
}
#search-results li > span{
    border-radius: 1px;
    border: 1px solid rgb(212, 212, 245);
    margin: 2px;
    display: inline-block;
}


#search-results li a{
    display: inline-block;
    text-decoration: none;
}
*/
.u-rname{
    font-family : font-title;
    font-size: 1.5em;
    display: block;
}


li .add{
    display: inline-block;
    margin-left: 4px;
    color: #555;
    font-size: 0.6em;
    cursor: pointer;
    border: 1px solid #AAA;
    border-radius: 4px;
    padding: 4px 1px 1px 1px;
}
li .text{
    font-size: 0.7em;
    line-height: 1;
    display: block;
    max-width: 34em;
    color: #333;
}

/*Spinner**/
.lds-spinner{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
}
.lds-spinner div {
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 6px;
    background: #444;
    border-radius: 2px;
    animation: lds-spinner 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-spinner div:nth-child(1) {
    left: 4px;
    animation-delay: -0.24s;
}
.lds-spinner div:nth-child(2) {
    left: 15px;
    animation-delay: -0.12s;
}
.lds-spinner div:nth-child(3) {
    left: 26px;
    animation-delay: 0;
}
@keyframes lds-spinner{
    0% {
        background: #000;
        top: 1px;
        height: 18px;
    }
    50%, 100% {
        background: #777;
        top: 5px;
        height: 10px;
    }
}
