*{
    box-sizing: border-box;
    line-height: 1.15;
}

body{
    font-size: 19px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: 
    repeating-linear-gradient(
         45deg,
         transparent,
         rgba(128, 128, 128,0.05) 1px,
         transparent 3px,transparent 8px);
    position:relative;
    background-color: #F8f8f8;
}

@media screen and (max-width: 600px) {
    body{
        background: none;
        background-color: #F8f8f8;
    }
}

