<script>
export let data = [];
</script>

<div>
{#each data as row}
    <div>
        <span class="file">{row.file}</span>:<span class="line">{row.line}</span>
        <span class="desc">{row.text}</span> (<span class="context">{row.context}</span>)
    </div>
{/each}
</div>

<style>
    .file{
        font-weight: bold;
    }
    .context{
        font-style: italic;
        color: 444;
    }

</style>