<script>
    import { createEventDispatcher } from 'svelte';
    import { element } from 'svelte/internal';
    const dispatch = createEventDispatcher();
    export let data = [];
    function on_click_title(idx){
      dispatch('select',{
        i : idx,
        name : data[idx].name,
        desc : data[idx].desc
      });
    }
</script>

<div class="list-content">
    <ul>
        {#each data as elem, i}
            <li data-i={i}>
                <span class="name" on:click={e => on_click_title(i)}>
                    {#if elem.desc && !elem.name}
                      {elem.desc}
                    {:else}
                      {elem.name}
                    {/if}
                </span>
                {#if elem.desc}
                    <span class="desc">
                        {elem.desc}
                    </span>
                {/if}
                {#if elem.sections}
                  <span class="sections">
                    {#each elem.sections as section}
                      <span class="section">
                        <span class="section-name">{section.name}</span>{#if elem.desc}<span class="section-desc">
                          {section.desc}
                        </span>
                        {/if}
                      </span>
                    {/each}
                  </span>
                {/if}
            </li>
        {/each}
    </ul>
</div>

<style>

.list-content li{
  display: block;
  padding-bottom: 3px;
}
.list-content li:nth-child(odd){
  display: block;
  background-color: #f8fafd;
}

.list-content ul{
  padding: 0;
  margin: 0;
}
.sections{
  display: block;
  line-height: 1;
  font-size: 0.6em;
  margin-bottom: 3px;
}
.desc{
  width: 100%;
  font-size: 0.8em;
  color:#444;
  line-height: 1.5;
  word-break: break-word;
  display : block;
}
.name{
  display: block;
  color : #007;
  text-decoration: underline dotted 1px;
  cursor: pointer;
}
.section{
  margin: 1px 1px;
  border: 1px solid #AAA;
  border-radius: 3px;
  display: inline-block;
  background-color: #FFF;
}
.section-name{
  color: #a01;
  font-weight: bold;
}
.section-desc{
  color:#444;
}

</style>
