body{
    margin: 0;
    font-size: 16px;
  }
  
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #f6f6f6;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  .cm-editor{
    height: 100%;
    font-size: 15px;
  }
  
  
.completition-box{
  line-height: 1;
}

.completition-box .name{
  margin: 0 5px;
  font-weight: bold;
}