<script>
    import { emit } from "@tauri-apps/api/event";


    let title = "Modal";
    let open = false;
    let mode = "NONE"
    let error;
    let filename = "";
    let text_input;
    let on_save;
    let on_discard;
    let on_remove;
    let key_callback;
    let cancel_button;
    export function show(handle, n_mode, savedelete_callback, discard_callback, preset_text = ""){
        mode = n_mode;
        filename = handle;
        open = true;
        if(mode === "DELETE"){
            on_remove = savedelete_callback;
        }else{
            on_save = savedelete_callback;
        }
        on_discard = discard_callback;
        text_input = preset_text;
        //cancel_button.focus();
    }
    function handleKeydown(evt){
        if (("key" in evt && (evt.key === "Escape" || evt.key === "Esc")) || evt.keyCode === 27) {
            if (mode != ""){
                cancel();
            }
        }
    }
    function focus(el){
        window.requestAnimationFrame( ()=>{
                el.focus();
            }
        );
    }
    function get_title(mode){
        switch(mode){
            case "CLOSE" :
            case "CLOSE_NEW":
                return "Cambios sin guardar"
            case "SAVE":
                return "Guardar"
            case "DELETE":
                return "Eliminar"
            default :
                return "";
        }
    }
    function cancel(){
        emit("save_cancel",null,{handle:filename});
        close();
    }
    export function close(){
        open = false;
        on_save = undefined;
        error = undefined;
        on_discard = undefined;
        on_remove = undefined;
        mode = "";
        text_input = "";
    }
    
    async function save_new(kind){
        if (text_input.trim() === ""){
            error = "Empty filename"
        }else{
            try{
                await on_save(text_input, kind);
                close();
            }catch(err){
                error = err.message;
            }
        }
    }
    function discard(){
        on_discard();
        close();
    }
    async function remove(){
        try{
            await on_remove();
            close();
        }catch(err){
            error = err.message;
        }
    }
    async function save(){
        try{
            await on_save();
            close();
        }catch (err){
            error = err.message;
        }
    }
    $: title = get_title(mode);
</script>
<svelte:window on:keydown={handleKeydown}/>
<div id="background" class:hidden={!open}>
    <div id="modal">
        <div id="title-bar" data-tauri-drag-region="">{title}</div>
        <div id="content">
        {#if mode === "DELETE"}
        Desea eliminar <span id="filename">{filename}</span>?
        {:else if mode === "CLOSE"}
        El archivo <span id="filename">{filename}</span> ha sido modificado,
        desea guardar los cambios?
        {:else if mode === "CLOSE_NEW" }
        Desea guardar el archivo nuevo:
        {:else if mode === "SAVE"}
        Nombre del archivo
        {/if}
        </div>
        {#if mode == "CLOSE_NEW" || mode == "SAVE"}
            <input type="text" bind:value={text_input} use:focus/>
        {/if}
        {#if error}
        <div id="error">{error}</div>
        {/if}
        <div id="button-area">
            {#if mode === "DELETE"}
                <button id="delete" on:click={remove}>Eliminar</button>
            {:else}
                {#if mode === "CLOSE"}
                <button id="save" on:click={save}>Guardar</button>
                {:else if mode === "CLOSE_NEW" || mode === "SAVE"}
                <button id="save_lst" on:click={async ()=> await save_new("lst")}>Guardar como lista</button>
                <button id="save_shb" on:click={async ()=> await save_new("shb")}>Guardar como canción</button>
                {/if}
                <button id="discard" on:click={discard}>Descartar</button>
            {/if}
            <button id="cancel" on:click={cancel} bind:this={cancel_button}>Cancelar</button>
        </div>
    </div>
</div>
<style> 
    #background{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    #modal{
        border: 2px solid #888;
        border-radius: 4px;
        background-color: #EEE8;
    }
    #title-bar{
        padding-left: 5px;
        background-color: #AAA4;
        font-weight: bold;
    }
    #content{
        padding: 5px;
        flex-grow: 1;
    }
    #button-area{
        text-align: center;
        padding: 5px;
    }
    button{
        font-size: 1em;
    }
    #filename{
        font-weight: bold;
    }
    #background.hidden{
        display: none;
    }
    #error{
        padding: 5px;
        text-align: center;
        font-style: italic;
    }
    input{
        appearance: initial;
        border-radius: 8px;
        border: 1px solid #8888;
        padding: 0.35em 0.5em;
        margin: 5px;
        font-size: inherit;
        font-weight: 500;
        font-family: inherit;
        color: #0f0f0f;
        background-color: #ffffff;
        transition: border-color 0.25s;
        box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
        width: calc(100% - 10px);
        box-sizing: border-box;
    }
</style>
