<div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<style>
div {
  display: block;
  position: relative;
  top: 50%;
  width: 55px;
  margin: -5px 0 0 0px;
}

div span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background: #000000;
  -webkit-animation: dots 1.7s infinite ease-in-out both;
          animation: dots 1.7s infinite ease-in-out both;
  margin-right: 5px;
}

div span:nth-child(4) {
  left: 0px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

div span:nth-child(3) {
  left: 15px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

div span:nth-child(2) {
  left: 30px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

div span:nth-child(1) {
  left: 45px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@keyframes dots {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes dots {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
</style>