body{
  margin: 0;
  font-size: 16px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.container {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(10px,0.2fr) 3px minmax(10px,0.45fr) 3px minmax(10px,0.35fr);
  grid-template-rows: min-content min-content minmax(10px,0.9fr) 3px minmax(5px,0.1fr);
  grid-template-areas: 
    'a a a a a'
    'b x c c c'
    'b x d y e'
    'b x z y e'
    'b x f y e';
}

#tool-bar{
  grid-area: a;
  background-color: #f8f8f8;
  min-height: 10px;
}

#file-menu{
  grid-area: b;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

#opened-bar{
  grid-area: c;
  min-height: 10px;
  background-color: #F8F8F8;
  border-bottom: 1px solid #CCC;
  box-shadow: inset 1px 0 0 0 #0f0f0f;
}

#editor-area{
  grid-area: d;
  background-color: #FAFAFA;
  border-bottom: 1px solid #ddd;
}

#display-area{
  grid-area: e;
  background-color: #AAA;
}
#left-drag{
  grid-area: x;
  cursor: ew-resize;
  background-color: #F8f8f8;
}

#right-drag{
  grid-area: y;
  cursor: ew-resize;
  background-color: #AAA;
}

#bottom-drag{
  background-color: #F8f8f8;
  grid-area: z;
  cursor: ns-resize;
}
#error-area{
  grid-area: f;
  background-color: #FFF;
}

#song-container{
  flex: 1 1 auto;
  min-height: 40px;
  overflow: auto;
  margin: 5px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #AAA;
}
#song-search{
  width: calc(100% - 8px);
  margin: 4px;
}
#list-search{
  width: calc(100% - 8px);
  margin: 4px;
}
#list-container{
  flex: 1 1 auto;
  min-height: 40px;
  overflow: auto;
  margin: 5px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #AAA;
}

.list-content li{
  display: block;
}
.list-content li:nth-child(odd){
  display: block;
  background-color: #f8fafd;
}

#drop-savename{
  z-index: 100;
  position: absolute;
  padding: 5px;
  border-radius: 8px;
  background-color: #f8f8f8;
  border: 1px solid #CCC;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.hidden{
  display: none;
}
.tab{
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 5px;
  background-color: #DDD;
  border : none;
  border-radius: 3px 3px 0 0;
  border: 1px solid #CCC;
  
}
.tab.selected{
  background-color: #F8f8f8;
}
.list-content ul{
  padding: 0;
  margin: 0;
}
.cm-editor{
  height: 100%;
  font-size: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button.chr{
  appearance: initial;
  border-radius: 8px;
  border: 1px solid #8888;
  padding: 0.35em 0.5em;
  margin: 2px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#tool-bar > button{
  padding: 2px;
  margin-left: 1em;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color:transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
}

button {
  cursor: pointer;
}

.button-bar-dropdown{
  text-align: center;
  margin-top: 5px;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

.refname{
  display: block;
  width: 100%;
  font-size: 0.8em;
  color:#444;
  line-height: 1.5;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}
