<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();
    export let content = {
        name : "",
        id : "",
        active : false,
        is_modified : false
    };
    function tab_click(evt)
    {   
        if (evt.target === this){
            dispatch('select',{id:content.id});
        }
    }
    function tab_close(){
        dispatch('close',content);
    }
</script>
{#if content}
    <span data-id={content.id} class:modified={content.is_modified} class:selected={content.active} on:click={tab_click}>{content.name}<button on:click={tab_close}>x</button></span>
{/if}
<style>
.selected{
    background-color: #FFF;
}
.modified{
    font-style: italic;
}
span{
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 5px;
  background-color: #DDD;
  border : none;
  border-radius: 9px 9px 0 0;
  border: 1px solid #CCC;
  height : 1.5em;
}
.selected{
  background-color: #F8f8f8;
}
button{
    background: none;
	color: #779;
	border: none;
	padding: 1px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: bold;
    text-shadow: 0 0 1px #aaf;
}
</style>